body {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

img {
    margin: auto;
    display: block;
    max-width: 30%;
    max-height: auto;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  .links{
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
    border-width: 10%;
    border: 20px red;
  
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
  .logo{
    border-radius: 10px;
  }