body {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    background-color: rgb(85, 81, 81);
    color: rgb(248, 242, 190);
}

img {
    margin: auto;
    display: block;
    max-width: 30%;
    max-height: auto;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  .links{
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    border-radius: 10px;
    border-width: 10%;
    border: 20px blueviolet;
  
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
  .logo{
    border-radius: 10px;
  }

  h1 {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }